@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"NotoSansKR";
  src: url('./font/NotoSansKR-VariableFont_wght.ttf') format('truetype'); 
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "Montserrat";
  font-stretch: extra-expanded;
  src: url('./font/Montserrat-VariableFont_wght.ttf') format(truetype),
  url('./font/Montserrat-VariableFont_wght.woff2') format("woff2");
  unicode-range: U+0041-005A, U+0061-007A;	/* 영문 대소문자 */
}

body {
  font-family:"NotoSansKR" , "Montserrat" , Arial, Helvetica, sans-serif;
}



#tooltip::before {
  content: "";
    position: absolute;
    border-style: solid;
    border-width: 0px 10px 8px;
    border-color: #474747 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: #C40F37;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  height: 0.5rem;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #c40f37;
  border-radius: 5rem;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: rgba(173, 173, 173, 0.667);
}

.bg-linear-gradient {
  background-color: #f1f1f1;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 44%,
    rgba(255, 255, 255, 0.3) 45%,
    rgba(255, 255, 255, 0.3) 55%,
    rgba(255, 255, 255, 0) 56%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 4px 4px;
  background-repeat: repeat;
}